@page "/"
@using Microsoft.JSInterop
@inject IJSRuntime JS

<PageTitle>Network Visualization</PageTitle>

<h1>Network Visualization</h1>

<canvas id="networkvis" width="1200" height="800"></canvas>

@code {
  protected override void OnAfterRender(bool firstRender)
    {
        JS.InvokeVoidAsync("initiateD3");
    }
}