@page "/"
@using Microsoft.JSInterop
@inject IJSRuntime JS

<PageTitle>Network Visualization</PageTitle>

<h1>Network Visualization</h1>

<svg width="1800" height="1200"></svg>

@code {
  protected override void OnAfterRender(bool firstRender)
    {
        JS.InvokeVoidAsync("initiateD3");
    }
}